/*
    - IA-MK - InteraApps Material Kit
    MINIMIZED VERSION
*/

space10 { margin-top: 10px; display: block;}
space20 { margin-top: 20px; display: block;}
space30 { margin-top: 30px; display: block;}

.block {
    display: block;
}

.tTLowercase {
    text-transform: lowercase;
}

.tTUppercase {
    text-transform: uppercase;
}

.tTNormal {
    text-transform: none;
}

[hewi] {
    width: attr(hewi);
    height: attr(hewi);
}

[round] {
    border-radius: 100%;
}

.bottom-right { position: fixed; bottom: 30px; right: 30px; }
.bottom-left { position: fixed; bottom: 30px;  left: 30px; }
.top-right { position: fixed;   top: 30px;     right: 30px; }
.top-left { position: fixed;    top: 30px;     left: 30px; }
.btn, .btn:visited, .btn:link {
    padding: 10px 22px;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px #00000033;
    transition: 0.3s box-shadow;
    text-align: center;
    user-select: none;
    border: none;
    text-decoration: none;

    /* DEFAULT */
    background: #FFFFFF;
    color: #323232;

    font-size: 14px;

    text-transform: uppercase;
}

.btn:hover {
    box-shadow: 0px 3px 3px 0px #00000033;
}

.btn:focus, .btn:active {
    box-shadow: 0px 1.5px 1.5px 0px #00000022;
    outline: none;
}

.btn.disabled {
    background: #9E9E9E;
    color: #FFFFFF;
    cursor: unset;
    pointer-events: none;
}

.btn.disabled:hover,
.btn.disabled:focus,
.btn.disabled:active {
    box-shadow: 0px 2px 2px 0px #00000033;
}


.btn.clean,
.btn.clean:visited,
.btn.clean:link,
.btn.clean:active,
.btn.clean:focus {
    box-shadow: none;
    background: transparent;
    transition: background 0.3s;
}

.btn.clean:hover {
    background: #00000011;
}

.btn .material-icons {
    vertical-align: middle;
    font-size: inherit;
    margin-right: 5px;
}

.btn.fab {
    padding: 5px;
    font-size: 30px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 45px;
}

.btn.fab .material-icons {
    font-size: 25px;
    margin-right: 0px;
}

.btn.fab.small {
    padding: 5px;
    font-size: 30px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 35px;
}

.btn.fab.small .material-icons {
    font-size: 23px;
    margin-right: 0px;
}

.card {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    display: block;
    border-radius: 5px;
    background: #FFFFFF;
}

.card.border {
    border: solid #00000022 1px;
    box-shadow: none;
}

.card-header {
}

.card-body {
}

.card-action {
    padding: 10px 12px 10px 12px;
}

.card-action-btn {
    padding: 10px 5px 10px 5px;
}

.card-action-btn .btn {
    padding: 8.4px 10px;
    margin-right: 3px;
}

.card-text {
    padding: 10px 12px 0px 12px;
}

.card-title {
    padding: 15px 12px 10px 12px;
    font-size: 23px;
}
.col_list {
    display: flex;
    width: 100%;
    box-sizing:border-box;
}
.col_5p {  width: 10%; box-sizing:border-box; }
.col_15p { width: 15%; box-sizing:border-box; }
.col_20p { width: 20%; box-sizing:border-box; }
.col_25p { width: 25%; box-sizing:border-box; }
.col_30p { width: 30%; box-sizing:border-box; }
.col_33p { width: 33.3333333333%; box-sizing:border-box; }
.col_35p { width: 35%; box-sizing:border-box; }
.col_40p { width: 40%; box-sizing:border-box; }
.col_45p { width: 45%; box-sizing:border-box; }
.col_50p { width: 50%; box-sizing:border-box; }
.col_55p { width: 55%; box-sizing:border-box; }
.col_60p { width: 60%; box-sizing:border-box; }
.col_65p { width: 65%; box-sizing:border-box; }
.col_70p { width: 70%; box-sizing:border-box; }
.col_75p { width: 75%; box-sizing:border-box; }
.col_80p { width: 80%; box-sizing:border-box; }
.col_85p { width: 85%; box-sizing:border-box; }
.col_90p { width: 90%; box-sizing:border-box; }
.col_95p { width: 95%; box-sizing:border-box; }
.col_100p { width: 100%; box-sizing:border-box; }

.col_container {
    display: flex;
    margin: 0px auto;
}
 
.p10px { padding: 10px;   box-sizing:border-box; }
.p20px { padding: 20px;   box-sizing:border-box; }
.p30px { padding: 30px;   box-sizing:border-box; }
.p40px { padding: 40px;   box-sizing:border-box; }
.p50px { padding: 50px;   box-sizing:border-box; }
.p60px { padding: 60px;   box-sizing:border-box; }
.p70px { padding: 70px;   box-sizing:border-box; }
.p80px { padding: 80px;   box-sizing:border-box; }
.p90px { padding: 90px;   box-sizing:border-box; }
.p100px { padding: 100px; box-sizing:border-box; }

.col_100px  { width: 100px;  box-sizing:border-box; max-width: 100%; }
.col_200px  { width: 200px;  box-sizing:border-box; max-width: 100%; }
.col_300px  { width: 300px;  box-sizing:border-box; max-width: 100%; }
.col_400px  { width: 400px;  box-sizing:border-box; max-width: 100%; }
.col_500px  { width: 500px;  box-sizing:border-box; max-width: 100%; }
.col_600px  { width: 600px;  box-sizing:border-box; max-width: 100%; }
.col_700px  { width: 700px;  box-sizing:border-box; max-width: 100%; }
.col_800px  { width: 800px;  box-sizing:border-box; max-width: 100%; }
.col_900px  { width: 900px;  box-sizing:border-box; max-width: 100%; }
.col_1000px { width: 1000px; box-sizing:border-box; max-width: 100%; }
.col_1100px { width: 1100px; box-sizing:border-box; max-width: 100%; }
.col_1200px { width: 1200px; box-sizing:border-box; max-width: 100%; }
.col_1300px { width: 1300px; box-sizing:border-box; max-width: 100%; }
.col_1400px { width: 1400px; box-sizing:border-box; max-width: 100%; }
.col_1500px { width: 1500px; box-sizing:border-box; max-width: 100%; }

.col_150px  { width: 150px;  box-sizing:border-box; max-width: 100%; }
.col_250px  { width: 250px;  box-sizing:border-box; max-width: 100%; }
.col_350px  { width: 350px;  box-sizing:border-box; max-width: 100%; }
.col_450px  { width: 450px;  box-sizing:border-box; max-width: 100%; }
.col_550px  { width: 550px;  box-sizing:border-box; max-width: 100%; }
.col_650px  { width: 650px;  box-sizing:border-box; max-width: 100%; }
.col_750px  { width: 750px;  box-sizing:border-box; max-width: 100%; }
.col_850px  { width: 850px;  box-sizing:border-box; max-width: 100%; }
.col_950px  { width: 950px;  box-sizing:border-box; max-width: 100%; }
.col_1050px { width: 1050px; box-sizing:border-box; max-width: 100%; }
.col_1150px { width: 1150px; box-sizing:border-box; max-width: 100%; }
.col_1250px { width: 1250px; box-sizing:border-box; max-width: 100%; }
.col_1350px { width: 1350px; box-sizing:border-box; max-width: 100%; }
.col_1450px { width: 1450px; box-sizing:border-box; max-width: 100%; }
.col_1550px { width: 1550px; box-sizing:border-box; max-width: 100%; }

.b_100px  { min-width: 100px;  box-sizing:border-box; }
.b_200px  { min-width: 200px;  box-sizing:border-box; }
.b_300px  { min-width: 300px;  box-sizing:border-box; }
.b_400px  { min-width: 400px;  box-sizing:border-box; }
.b_500px  { min-width: 500px;  box-sizing:border-box; }
.b_600px  { min-width: 600px;  box-sizing:border-box; }
.b_700px  { min-width: 700px;  box-sizing:border-box; }
.b_800px  { min-width: 800px;  box-sizing:border-box; }
.b_900px  { min-width: 900px;  box-sizing:border-box; }
.b_1000px { min-width: 1000px; box-sizing:border-box; }
.b_1100px { min-width: 1100px; box-sizing:border-box; }
.b_1200px { min-width: 1200px; box-sizing:border-box; }
.b_1300px { min-width: 1300px; box-sizing:border-box; }
.b_1400px { min-width: 1400px; box-sizing:border-box; }
.b_1500px { min-width: 1500px; box-sizing:border-box; }


@media screen and (max-width: 920px) {
.col_container {
    display: block;
    width: 100%;
}
  .col_5p { width: 100%; }
.col_15p  { width: 100%; }
.col_20p  { width: 100%; }
.col_25p  { width: 100%; }
.col_30p  { width: 100%; }
.col_33p  { width: 100%; }
.col_35p  { width: 100%; }
.col_40p  { width: 100%; }
.col_45p  { width: 100%; }
.col_50p  { width: 100%; }
.col_55p  { width: 100%; }
.col_60p  { width: 100%; }
.col_65p  { width: 100%; }
.col_70p  { width: 100%; }
.col_75p  { width: 100%; }
.col_80p  { width: 100%; }
.col_85p  { width: 100%; }
.col_90p  { width: 100%; }
.col_95p  { width: 100%; }
.col_100p { width: 100%; }

.bl_block {
    display: block;
}

.b_100px  { width: 100%; }
.b_200px  { width: 100%; }
.b_300px  { width: 100%; }
.b_400px  { width: 100%; }
.b_500px  { width: 100%; }
.b_600px  { width: 100%; }
.b_700px  { width: 100%; }
.b_800px  { width: 100%; }
.b_900px  { width: 100%; }
.b_1000px { width: 100%; }
.b_1100px { width: 100%; }
.b_1200px { width: 100%; }
.b_1300px { width: 100%; }
.b_1400px { width: 100%; }
.b_1500px { width: 100%; }

.col_100px  { width: 100%; box-sizing: border-box; }
.col_200px  { width: 100%; box-sizing: border-box; }
.col_300px  { width: 100%; box-sizing: border-box; }
.col_400px  { width: 100%; box-sizing: border-box; }
.col_500px  { width: 100%; box-sizing: border-box; }
.col_600px  { width: 100%; box-sizing: border-box; }
.col_700px  { width: 100%; box-sizing: border-box; }
.col_800px  { width: 100%; box-sizing: border-box; }
.col_900px  { width: 100%; box-sizing: border-box; }
.col_1000px { width: 100%; box-sizing: border-box; }
.col_1100px { width: 100%; box-sizing: border-box; }
.col_1200px { width: 100%; box-sizing: border-box; }
.col_1300px { width: 100%; box-sizing: border-box; }
.col_1400px { width: 100%; box-sizing: border-box; }
.col_1500px { width: 100%; box-sizing: border-box; }

.p10px { padding: 10px; }
.p20px { padding: 20px; }
.p30px { padding: 30px; }
.p40px { padding: 40px; }
.p50px { padding: 50px; }
.p60px { padding: 60px; }
.p70px { padding: 70px; }
.p80px { padding: 80px; }
.p90px { padding: 90px; }
.p100px { padding: 100px; }
}

/*AUTO GENERATED*/
.color_blue {color: #2196F3}
[color=blue] {color: #2196F3}
.bgcolor_blue {background-color: #2196F3}
[bgcolor=blue] {background-color: #2196F3}

.btn.blue { background: #2196F3; color: #FFFFFF; }
.btn.trn.blue { background: #2196F322; color: #2196F3 }

.btn.trnh.blue, .btn.trnh.blue:hover,
.btn.trnh.blue:visited, .btn.trnh.blue:link { background: #00000000; color: #2196F3; transition: background 0.3s; box-shadow: none }
.btn.trnh.blue:active, .btn.trnh.blue:focus { background: #2196F355; box-shadow: none }

.btn.trnh.blue:hover { background: #2196F322; color: #2196F3 }
        
.color_green {color: #4CAF50}
[color=green] {color: #4CAF50}
.bgcolor_green {background-color: #4CAF50}
[bgcolor=green] {background-color: #4CAF50}

.btn.green { background: #4CAF50; color: #FFFFFF; }
.btn.trn.green { background: #4CAF5022; color: #4CAF50 }

.btn.trnh.green, .btn.trnh.green:hover,
.btn.trnh.green:visited, .btn.trnh.green:link { background: #00000000; color: #4CAF50; transition: background 0.3s; box-shadow: none }
.btn.trnh.green:active, .btn.trnh.green:focus { background: #4CAF5055; box-shadow: none }

.btn.trnh.green:hover { background: #4CAF5022; color: #4CAF50 }
        
        
[tooltip] {
    position: relative;
  }
  
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none;
    font-size: 14px; 
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  [tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
  }
  [tooltip]::after {
    content: attr(tooltip); /* magic! */
    
    font-family: Helvetica, sans-serif;
    text-align: center;
 
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1px 2px 0.5px rgba(0, 0, 0, 0.15);
    background: #333;
    color: #fff;
    z-index: 1000; /* absurdity 2 */
  }
  
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }
  
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }
  

  [tooltip]:not([tooltip-pos])::after,
  [tooltip][tooltip-pos^="top"]::after {
    bottom: calc(100% + 5px);
  }
  [tooltip]:not([tooltip-pos])::before,
  [tooltip]:not([tooltip-pos])::after,
  [tooltip][tooltip-pos^="top"]::before,
  [tooltip][tooltip-pos^="top"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
  }
  
  [tooltip][tooltip-pos^="bottom"]::after {
    top: calc(100% + 5px);
  }
  [tooltip][tooltip-pos^="bottom"]::before,
  [tooltip][tooltip-pos^="bottom"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }
  
  [tooltip][tooltip-pos^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
  }
  
  [tooltip][tooltip-pos^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
  }
  
  @keyframes tooltips-vert {
    to {
      opacity: .9;
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }
  
  [tooltip]:not([flow]):hover::before, [tooltip]:not([flow]):hover::after,
  [tooltip][tooltip-pos^="top"]:hover::before, [tooltip][tooltip-pos^="top"]:hover::after,
  [tooltip][tooltip-pos^="bottom"]:hover::before, [tooltip][tooltip-pos^="bottom"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
  }
  
  [tooltip][tooltip-pos^="left"]:hover::before, [tooltip][tooltip-pos^="left"]:hover::after,
  [tooltip][tooltip-pos^="right"]:hover::before, [tooltip][tooltip-pos^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
  }* {
    padding: 0px;
    margin: 0px;
    font-family: Jost, Montserrat, sans-serif;
}


*:focus {
    outline: none;
}